<!DOCTYPE html>
<html>
<head>
<meat charset="UTF-8">
   <title>Quiz</title>
   <link rel="stylesheet" href="../css/style.css" type="text/css">

</head>
<body>
<div class="grid">
    <div id="quiz">
        <h1>Auto Complete</h1>
        <hr style="margin-top:20px;">
        <h4>Input Country inside the text box</h4>
<div class="input-grid">  
        <input type="text" value="" id="word-input" onkeydown="mouseUp()"><label>Country</label>
        <div id="small-grid">
                <!-- Li forms dynamcically-->
        </div>
    </div>
</div>
</div>
<script src="../js/app.js"></script>
</body>
</html>